@model IEnumerable<WebApplication.Models.KategoriaSkladnikow>

@{
    ViewData["Title"] = "Kategorie Składników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <div class="text-center">
        <h1>Kategorie Składników</h1>
        <hr />
        <nav class="navigation">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Stwórz nową kategorie</button></a>
        </nav>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id_kategorii">@Html.DisplayFor(modelItem => item.nazwa)</a>
                    </td>
                    <td>
                        @if (item.nazwa != "inne")
                        {
                            <a asp-action="Edit" asp-route-id="@item.id_kategorii">Edytuj</a>
                            <a asp-action="Delete" asp-route-id="@item.id_kategorii"> Usuń </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>