@model IEnumerable<WebApplication.Models.KategoriaSkladnikow>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Stwórz nową kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @if (item.nazwa != "inne")
                {
                    <a asp-action="Edit" asp-route-id="@item.id_kategorii">Edytuj</a>
                    <a asp-action = "Delete" asp-route-id = "@item.id_kategorii" > Usuń </a>
                }
                <a asp-action="Details" asp-route-id="@item.id_kategorii">Szczegóły</a>

            </td>
        </tr>
}
    </tbody>
</table>
