<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <img style="width: 300px" src="~/images/Logo.svg" />
        </nav>
    </header>

    <h2>Raport z @ViewBag.date.Day/@ViewBag.date.Month/@ViewBag.date.Year</h2>
    <div style=" display: flex;">
            <picture>
                <source style="height: 250px; " srcset=@ViewBag.image>
                <img src="~/images/Profil.svg" alt="Profile picture" style="height: 250px; ">
            </picture>
            <div style=" padding: 20px;">
                <h4>@ViewBag.user.imie</h4>
                <p>@ViewBag.user.Email</p>
                <p>@ViewBag.roles</p>
            </div>
    </div>

    <br />
    <div>
        <h5>Aktualne wymiary:</h5>
        <p>Wzrost: @ViewBag.now.wzrost</p>
        <p>Waga: @ViewBag.now.waga</p>
        <p>BMI: @ViewBag.bmi</p>
    </div>

    <br />
    <br />

    <div class="text-center">
        <h5>Dzisiejsze posiłki:</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Godzina</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Kalorie</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var item in ViewBag.posilki)
                    {
                        <tr>
                            <th scope="row">@item.data</th>
                            @{
                                if (item.posilek != null)
                                {
                                    <td>@item.posilek.nazwa</td>
                                }
                                else
                                {
                                    <td>Brak</td>
                                }
                            }
                            <td>@item.posilek.kalorie</td>
                        </tr>
                    }
                }
                <tr>
                    <th scope="row"> </th>
                    <th> Suma:</th>
                    <th>@ViewBag.sumKal</th>
                </tr>
            </tbody>
        </table>
    </div>



    <script>
        const element = document.getElementById("layout_header")
        element.remove()
    </script>


</body>
</html>
