<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header>
        <h2>Raport - @ViewBag.date.Day / @ViewBag.date.Month / @ViewBag.date.Year</h2>
    </header>

    <div style=" display: flex;">
        <picture>
            <source style="height: 300px; " srcset=@ViewBag.image>
            <img src="~/images/Profil.svg" alt="Profile picture" style="height: 300px; ">
        </picture>

        <div>
            <h4>@ViewBag.user.imie</h4>
            <p>@ViewBag.user.Email</p>
            <p>@ViewBag.roles</p>
        </div>
    </div>

    <div>
        <h6>Aktualne wymiary:</h6>
        <p>Wzrost: @ViewBag.now.wzrost</p>
        <p>Waga: @ViewBag.now.waga</p>
        <p>BMI: @ViewBag.bmi</p>
    </div>

    <div class="text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Godzina</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Kalorie</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var item in ViewBag.posilki)
                    {
                        <tr>
                            <th scope="row">@item.data</th>
                            @{
                                if (item.posilek != null)
                                {
                                    <td>@item.posilek.nazwa</td>
                                }
                                else
                                {
                                    <td>Brak</td>
                                }
                            }
                            <td>@item.posilek.kalorie</td>
                        </tr>
                    }
                }
                <tr>
                    <th scope="row"> </th>
                    <th> Suma:</th>
                    <th>@ViewBag.sumKal</th>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
