@model WebApplication.Models.PlanowanieTreningow

@{
    ViewData["Title"] = "Planowany Trening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Planowanego Treningu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.trening)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trening.nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dzien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dzien)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Trening" asp-action="Details" asp-route-id="@Model.trening.id_treningu">Zobacz szczegóły treningu</a>
    @*<a asp-action="Index">Powrót do listy zadan</a>*@
</div>
