<div class="row">
    <div class="col-md-3"></div>
    <div class="chat-body col-md-6">
        @foreach (var item in ViewBag.chat.Messages)
        {
            if (item.Name == User.Identity.Name)
            {
                <div class="chat-bubble-mine">
                    <p>@item.Name  @item.Text @item.Timestamp</p>
                </div>
            }
            else
            {
                <div class="chat-bubble">
                    <p>@item.Name  @item.Text @item.Timestamp</p>
                </div>
            }

        }
        
    </div>
    <div class="col-md-6">
        <form method="post" onsubmit="sendMessage(event)">
            <input type="hidden" name="roomName" value="@ViewBag.chat.NameOne" />
            <input type="hidden" name="chatId" value="@ViewBag.chat.Id" />
            @if (ViewBag.user.Id == ViewBag.chat.FirstId)
            {
                <input type="hidden" name="toWho" value="@ViewBag.chat.SecendId" />
            }
            else
            {
                <input type="hidden" name="toWho" value="@ViewBag.chat.FirstId" />
            }
            <input type="text" name="message" placeholder="Message" />
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="col-md-3"></div>
</div>




@section scripts{ 
    <script src="~/js/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        var _connectionId = '';

        connection.on("RecieveMessage", function (data) {
            console.log(data);

            var message = document.createElement("p")
            message.appendChild(document.createTextNode(data.name + " " + data.text + " " + data.timestamp))

            var bubble = document.createElement("div")
            bubble.append(message);

            bubble.classList.add("chat-bubble-mine")

            
            var body = document.querySelector('.chat-body')
            body.append(bubble);
            
        });

        var joinRoom = function () {
            var url = '/ChatReactivity/JoinRoom/' + _connectionId + '/@ViewBag.chat.NameOne';
            axios.post(url, null)
                .then(res => {
                    console.log("Room Joined", res);
                })
                .catch(err => {
                    console.err("Conection Error", res);
                })
        }

        connection.start()
            .then(function () {
                connection.invoke('getConnectionId').then(function (connectionId) {
                    _connectionId = connectionId;
                    joinRoom();
                })
            })
            .catch(function (err) {
                console.log(err)
            })

        var form = null;

        var sendMessage = function (event) {
            event.preventDefault();

            var data = new FormData(event.target);

            axios.post('/ChatReactivity/SendMessage', data)
                .then(res => {
                    console.log("Message Sent");
                })
                .catch(err => {
                    console.log("Failed to send message");
                })
        }

    </script>
}
