<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessFriend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />

    @*<link rel="stylesheet" href="~/lib/jquery-bar-rating-master/dist/themes/bootstrap-stars.css">*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <div> <a href="/" /><img style="width: 200px" src="~/images/Logo.svg" /></div>

                @*<div>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessFriend</a>
                    </div>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/TreningList">Treningi</a>
                        </li>

                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Posilek">Dostępne posiłki</a>
                        </li>

                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Trening">Dostępne treningi</a>
                        </li>

                    </ul>

                </div>
                <div>
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                                <li class="nav-item text-light">
                                    <a class="navbar-text text-light" href="/UserHub">@User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                          method="post">
                                        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/identity/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/identity/Account/Login">Login</a>
                                </li>
                            </ul>
                        }
                    }
                </div>

                <!-- ZMIANY -->
                <div class="toggle-container">
                    <input type="checkbox" id="switch" name="theme" />
                    <label id="darkmodeswitch" for="switch">Toggle</label>
                </div>
                <!-- ZMIANY -->

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery-bar-rating-master/jquery.barrating.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        $(function () {
            $('#example').barrating({
                theme: 'fontawesome-stars'
            });
        });
    </script>

    <script src="~/js/darkMode.js"></script>

</body>
</html>
