@{
    if (User.Identity.IsAuthenticated)
    {
        @using Microsoft.AspNet.Identity;
        ViewBag.userId = User.Identity.GetUserId();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessFriend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />

    @*<link rel="stylesheet" href="~/lib/jquery-bar-rating-master/dist/themes/bootstrap-stars.css">*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>



</head>
<body>
    <header id="layout_header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                @{ if (User.Identity.IsAuthenticated)
                    {
                        <div> <a href="/UserHub" /><img style="width: 200px" src="~/images/Logo.svg" /></div>
                    }
                    else
                    {
                        <div> <a href="/" /><img style="width: 200px" src="~/images/Logo.svg" /></div>
                    }
                }


                @*<div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessFriend</a>
        </div>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/TreningList">Treningi</a>
                        </li>

                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Posilek">Dostępne posiłki</a>
                        </li>

                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Trening">Dostępne treningi</a>
                        </li>

                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/UserView">Dietetycy i trenerzy</a>
                        </li>

                    </ul>

                </div>

                <div>
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                                @if (ViewBag.notif != null)
                                {
                                    @if (ViewBag.notif)
                                    {
                                        <form form method="post" action="/UserHub/Notyfikacje">
                                            <button type="submit" onclick="toggel()" style="background-color: Transparent; border:none;">
                                                <img style="height: 25px; width: 25px; padding: 2px; position:center;" src="~/images/bellActive.svg" />
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <button style="background-color: Transparent; border:none;">
                                            <img style="height: 25px; width: 25px; padding: 2px; position:center;" src="~/images/bell.svg" />
                                        </button>
                                    }
                                }

                                <li class="nav-item text-light">

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/UserHub">Panel użytkownika </a>
                                            <a class="dropdown-item" href="/UserHub/Kalkulator">Kalkulator </a>
                                            <a class="dropdown-item" href="/Profil/Details/@ViewBag.userId">Profil </a>
                                            <a class="dropdown-item" href="/Chat">Chat </a>
                                            <a class="dropdown-item" href="/Odznaki">Odznaki </a>
                                            <a class="dropdown-item" href="/Rola/MyRoles">Role </a>

                                            @{ if (ViewBag.ifAdmin != null)
                                                {
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/UserHub/Admin">Panel Administratora </a>
                                                    <a class="dropdown-item" href="/ProsbyOUprawnienia">Prośby o uprawnienia </a>
                                                    <a class="dropdown-item" href="/Rola">Zarządzanie rolami </a>
                                                    <a class="dropdown-item" href="/RolaUzytkownika">Rola użytkownika </a>

                                                }
                                            }

                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                          method="post">
                                        <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                                    </form>
                                </li>
                            </ul>


                        }
                        else
                        {
                            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/identity/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/identity/Account/Login">Login</a>
                                </li>
                            </ul>
                        }
                    }
                </div>
                <div>
                    <input type="checkbox" class="darkmode-checkbox" id="darkmode-checkbox" />
                    <label for="darkmode-checkbox" class="darkmode-label">
                        <img src="~/images/moon.svg" class="darkmode-icon" />
                        <img src="~/images/sun.svg" class="darkmode-icon" />
                        <div class="ball"></div>
                    </label>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="notif-box" style="height: 0px; opacity: 0;" id="box">
                <p>Masz nową wiadomość</p>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Masz jakieś pytania?  - <a asp-area="" asp-controller="Home" asp-action="ContactUs">Napisz do nas! </a>
            &copy; 2020 - WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery-bar-rating-master/jquery.barrating.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        $(function () {
            $('#example').barrating({
                theme: 'fontawesome-stars'
            });
        });
    </script>
</body>
</html>
