@{
    ViewData["Title"] = "Prośby o uprawnienia";
}

@{
    <div class="tab-pane fade show" role="tabpanel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Uzytkownik</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Prosba</th>
                    <th scope="col">Decyzja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.allRequests)
                {
                <tr>
                    <td>@item.uzytkownik.login</td>
                    <td>@item.rola.nazwa</td>
                    <td>@item.prosba_pisemna</td>
                    <td>
                        <a asp-action="Accept" asp-route-idt="@item.id_uzytkownika" asp-route-idc="@item.id_roli">Akceptuj</a> |
                        <a asp-action="Delete" asp-route-idt="@item.id_uzytkownika" asp-route-idc="@item.id_roli">Odrzuc</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>

}