@model IEnumerable<WebApplication.Models.HistoriaUzytkownika>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Aktualizuj swoje wymiary</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wzrost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.waga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wzrost)
            </td>
            <td>
                <a asp-action="Delete" asp-route-date="@item.data">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
