@model IEnumerable<WebApplication.Models.RolaUzytkownika>

@{
    ViewData["Title"] = "Przydziel Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <h1>Przydziel role</h1>

    <nav class="navigation">
        <a asp-action="Create" style="text-decoration:none"><button class="navigation">Nadaj uprawnienia</button></a>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rola)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uzytkownik)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rola.nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uzytkownik.login)
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-users_id="@item.id_uzytkownika" asp-route-role_id="@item.id_roli">Pozbaw uprawnien</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>