@model IEnumerable<WebApplication.Models.RolaUzytkownika>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Przydziel role</h1>

<p>
    <a asp-action="Create">Nadaj uprawnienia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uzytkownik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rola.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uzytkownik.login)
            </td>
            <td>
                <a asp-action="Delete" asp-route-users_id="@item.id_uzytkownika" asp-route-role_id="@item.id_roli">Pozbaw uprawnien</a>
            </td>
        </tr>
}
    </tbody>
</table>
