@model IEnumerable<WebApplication.Models.Cwiczenie>

@{
    ViewData["Title"] = "Lista Cwiczen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="text-center">
        <h1>Ćwiczenia</h1>
        <hr />

        <nav class="navigation" style="margin-bottom:5px">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Dodaj ćwiczenie</button></a>
            <a asp-controller="KategoriaCwiczenia" asp-action="Index" style="text-decoration:none"><button class="navigation">Zobacz kategorie</button></a>
        </nav>
        @using (Html.BeginForm("Index", "Cwiczenie", FormMethod.Get))
        {
            <fieldset style="display:inline">
                <input id="searchString" type="text" value="" style="border-radius:5px">

                @Html.DropDownList("category")

                <div style="padding: 5px">
                    <button type="submit" class="btn btn-primary" value="Filtruj">Filtruj</button>
                </div>

            </fieldset>
        }
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opis)
                </th>
                <th>
                    <a class="dark-a" asp-action="Index" asp-route-sort="@ViewData["currentSort"]" asp-route-searchString="@ViewData["currentSearchString"]">
                        @Html.DisplayNameFor(model => model.spalone_kalorie)
                        @if ((int)ViewData["currentSort"] == 0)
                        {
                            <p>▲</p>
                        }
                        else if ((int)ViewData["currentSort"] == 2)
                        {
                            <p>▼</p>
                        }

                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kategoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="dark-a" asp-action="Details" asp-route-id="@item.id_cwiczenia">@Html.DisplayFor(modelItem => item.nazwa)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spalone_kalorie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kategoria.nazwa)
                    </td>
                    <td>

                        @if (ViewBag.isTrainer)
                        {
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_cwiczenia">Edytuj</a> <br />
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_cwiczenia">Usuń</a> <br />
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
