@model WebApplication.Models.Posilek

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int eaten_calories = 0;
    foreach (var posilek in ViewBag.mealsDetails)
        eaten_calories += (posilek.porcja / posilek.skladnik.waga * posilek.skladnik.kalorie);
}

<h1>Details</h1>

<div>
    <h4>Posilek</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Id)
        </dd>
    </dl>
    @if (ViewBag.userId == ViewBag.posilekOwner)
    {
        <a asp-action="AddComponent" asp-route-id="@Model.id_posilku">Dodaj składnik</a> <br />
    }

</div>

<div>
    <h5>Składniki</h5>
    <ul>
        @foreach (var posilek in ViewBag.mealsDetails)
        {
            <li>
                @posilek.skladnik.nazwa
                <br />
                Opis: <br />
                @posilek.skladnik.opis
                <br />
                Porcja: @posilek.porcja
                @if (ViewBag.userId == ViewBag.posilekOwner)//poprawic ten fragment trzeba wysylac dwie wartosci id
                {
                    <form asp-action="DeleteComponent" asp-route-idt="@posilek.id_posilku" asp-route-idc="@posilek.id_skladnika">
                        <input type="submit" value="Usuń składnik" class="btn btn-danger" />
                    </form>
                }
            </li>
        }
    </ul>
</div>

<div>
    @if (ViewBag.userId == ViewBag.posilekOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model.id_posilku">Edytuj</a> <br />
    }
    <a asp-action="Index">Powrot do listy</a>
</div>
