@model IEnumerable<WebApplication.Models.Posilek>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Stwórz nowy posiłek</a>
</p>
<hr />
@using (Html.BeginForm("Index", "Posilek", FormMethod.Get, new { id = ViewBag.posilekId }))
{
    <fieldset>
        @Html.TextBox("searchString")

        <p>
            <input type="submit" value="Filtruj" />
        </p>

    </fieldset>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            @if (ViewBag.dieticiansIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @if (ViewBag.userId == item.id_uzytkownika)
                {
                <a asp-action="Delete" asp-route-id="@item.id_posilku">Usuń</a> <br />
                <a asp-action="Edit" asp-route-id="@item.id_posilku">Edytuj</a> <br />
                }
                <a asp-action="Details" asp-route-id="@item.id_posilku">Szczegóły</a> <br />
            </td>
        </tr>
            }
        }
        </tbody>
</table>
