@model IEnumerable<WebApplication.Models.Posilek>

@{
    ViewData["Title"] = "Dostępne posiłki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <div class="text-center">
        <h1>Posiłki</h1>
        <hr />

        <nav class="navigation">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Stwórz nowy posiłek</button></a>
            <a asp-controller="Skladnik" asp-action="Index" style="text-decoration:none"><button class="navigation">Zobacz dostępne składniki</button></a>
        </nav>
        <hr />
        @using (Html.BeginForm("Index", "Posilek", FormMethod.Get, new { id = ViewBag.posilekId }))
        {
            <fieldset>
                @Html.TextBox("searchString")

                <p>
                    <button type="submit" class="btn btn-primary" value="Filtruj">Filtruj</button>
                </p>

            </fieldset>
        }
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    obraz
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opis)
                </th>
                <th>
                    <a class="dark-a" asp-action="Index" asp-route-sort="@ViewData["currentSort"]" asp-route-searchString="@ViewData["currentSearchString"]">
                        ocena
                        @if ((int)ViewData["currentSort"] == 0)
                        {
                            <p>▲</p>
                        }
                        else if ((int)ViewData["currentSort"] == 2)
                        {
                            <p>▼</p>
                        }
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if ((int)ViewData["currentSort"] == 1)
            {
                @foreach (var item in Model)
                {
                    @if (ViewBag.dieticiansIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId)
                    {
                        <tr>
                            <td>
                                @if (item.obrazy.Count > 0)
                                {
                                    <a asp-action="Details" asp-route-id="@item.id_posilku">
                                        <img style="height: 50px; width: 50px;" class="rounded float-left" src="@(((List<ObrazyPosilku>)item.obrazy)[item.obrazy.Count - 1].GetImageDataUrl())" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.id_posilku">
                                        <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                                    </a>
                                }
                            </td>
                            <td>
                                <a class="dark-a" asp-action="Details" asp-route-id="@item.id_posilku">@Html.DisplayFor(modelItem => item.nazwa)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.opis)
                            </td>
                            <td>
                                @if ((ViewBag.ratingsCounted).ContainsKey(item.id_posilku))
                                {
                                    <p>@((ViewBag.ratingsCounted)[item.id_posilku])</p>
                                }
                                else
                                {
                                    <p>0</p>
                                }

                            </td>
                            <td>
                                @if (ViewBag.userId == item.id_uzytkownika)
                                {
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_posilku">Usuń</a> <br />
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_posilku">Edytuj</a> <br />
                                }
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                @if ((int)ViewData["currentSort"] == 0)
                {
                    @foreach (var item in Model)
                    {
                        @if (!(ViewBag.ratingsCounted).ContainsKey(item.id_posilku) && (ViewBag.dieticiansIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId))
                        {
                            <tr>
                                <td>
                                    @if (item.obrazy.Count > 0)
                                    {
                                        <a asp-action="Details" asp-route-id="@item.id_posilku">
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="@(((List<ObrazyPosilku>)item.obrazy)[item.obrazy.Count - 1].GetImageDataUrl())" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-id="@item.id_posilku">
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a class="dark-a" asp-action="Details" asp-route-id="@item.id_posilku">@Html.DisplayFor(modelItem => item.nazwa)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.opis)
                                </td>
                                <td>
                                    <p>0</p>
                                </td>
                                <td>
                                    @if (ViewBag.userId == item.id_uzytkownika)
                                    {
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_posilku">Usuń</a> <br />
                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_posilku">Edytuj</a> <br />
                                    }
                                </td>
                            </tr>
                        }
                    }

                }
                @if ((int)ViewData["currentSort"] == 0 || (int)ViewData["currentSort"] == 2)
                {
                    @foreach (var rc in ViewBag.ratingsCounted.Keys)
                    {
                        var item = Model.First(p => p.id_posilku == rc);
                        @if (ViewBag.dieticiansIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId)
                        {
                            <tr>
                                <td>
                                    @if (item.obrazy.Count > 0)
                                    {
                                        <a asp-action="Details" asp-route-id="@item.id_posilku">
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="@(((List<ObrazyPosilku>)item.obrazy)[item.obrazy.Count - 1].GetImageDataUrl())" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-id="@item.id_posilku">
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a class="dark-a" asp-action="Details" asp-route-id="@item.id_posilku">@Html.DisplayFor(modelItem => item.nazwa)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.opis)
                                </td>
                                <td>
                                    @if ((ViewBag.ratingsCounted).ContainsKey(item.id_posilku))
                                    {
                                        <p>@((ViewBag.ratingsCounted)[item.id_posilku])</p>
                                    }
                                    else
                                    {
                                        <p>0</p>
                                    }

                                </td>
                                <td>
                                    @if (ViewBag.userId == item.id_uzytkownika)
                                    {
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_posilku">Usuń</a> <br />
                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_posilku">Edytuj</a> <br />
                                    }
                                </td>
                            </tr>
                        }
                    }
                }

                    @if ((int)ViewData["currentSort"] == 2)
                    {
                        @foreach (var item in Model)
                        {
                            @if (!(ViewBag.ratingsCounted).ContainsKey(item.id_posilku) && (ViewBag.dieticiansIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId))
                            {
                                <tr>
                                    <td>
                                        @if (item.obrazy.Count > 0)
                                        {
                                            <a asp-action="Details" asp-route-id="@item.id_posilku">
                                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="@(((List<ObrazyPosilku>)item.obrazy)[item.obrazy.Count - 1].GetImageDataUrl())" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Details" asp-route-id="@item.id_posilku">
                                                <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <a class="dark-a" asp-action="Details" asp-route-id="@item.id_posilku">@Html.DisplayFor(modelItem => item.nazwa)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.opis)
                                    </td>
                                    <td>
                                        <p>0</p>
                                    </td>
                                    <td>
                                        @if (ViewBag.userId == item.id_uzytkownika)
                                        {
                                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_posilku">Usuń</a> <br />
                                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_posilku">Edytuj</a> <br />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
    </table>
</body>
</html>