<div class="row">
    <div class="col-md-4">
        <div>
            @if (ViewBag.image == null)
            {
                <img style="height: 300px; width: 300px;" src="~/images/Profil.svg" />
            }
            else
            {
                <img src="@ViewBag.image" />
            }
        </div>
        <button asp-action="AddImage" class="btn btn-primary">Zmien profilowe</button>
        @foreach (var item in ViewBag.profil)
        {
            <h3>Użytkownik: @item.imie</h3>
            if (@ViewBag.isTrainer)
            {
                <h5>Ocena Trenera: @ViewBag.t_rating</h5>
            }
            if (@ViewBag.isDietician)
            {
                <h5>Ocena Dietetyka: @ViewBag.d_rating</h5>
            }
            <style>
                .txt-center {
                    text-align: center;
                }

                .hide {
                    display: none;
                }

                .clear {
                    float: none;
                    clear: both;
                }

                .rating {
                    width: 90px;
                    unicode-bidi: bidi-override;
                    direction: rtl;
                    text-align: center;
                    position: relative;
                }

                    .rating > label {
                        float: right;
                        display: inline;
                        padding: 0;
                        margin: 0;
                        position: relative;
                        width: 1.1em;
                        cursor: pointer;
                        color: #000;
                    }

                        .rating > label:hover,
                        .rating > label:hover ~ label,
                        .rating > input.radio-btn:checked ~ label {
                            color: transparent;
                        }

                            .rating > label:hover:before,
                            .rating > label:hover ~ label:before,
                            .rating > input.radio-btn:checked ~ label:before,
                            .rating > input.radio-btn:checked ~ label:before {
                                content: "\2605";
                                position: absolute;
                                left: 0;
                                color: #FFD700;
                            }
            </style>
            @if (@ViewBag.isTrainer)
            {
                <h5>Oceń Trenera</h5>
                <div class="txt-center">
                    <form method="post">
                        <input type="hidden" name="oceniany_id" value="@ViewBag.id" />
                        <input type="hidden" name="rola" value="trener" />
                        <div class="rating">
                            @for (int i = 5; i > 0; i--)
                            {
                                if (i == @ViewBag.ocenaTrener.ocena)
                                {
                                    <input id="star @i" name="rating" type="radio" checked="checked" value="@i" class="radio-btn hide" />
                                    <label for="star @i">☆</label>
                                }
                                else
                                {
                                    <input id="star @i" name="rating" type="radio" value="@i" class="radio-btn hide" />
                                    <label for="star @i">☆</label>
                                }

                            }
                            <div class="clear"></div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Oceń</button>
                        </div>
                    </form>
                </div>
            }
            @if (@ViewBag.isDietician)
            {
                <h5>Oceń Dietetyka</h5>
                <div class="txt-center">
                    <form method="post">
                        <input type="hidden" name="oceniany_id" value="@ViewBag.id" />
                        <input type="hidden" name="rola" value="dietetyk" />
                        <div class="rating">
                            @for (int i = 5; i > 0; i--)
                            {
                                if (i == ViewBag.ocenaDietetyk.ocena)
                                {
                                    <input id="starr @i" name="rating" type="radio" checked="checked" value="@i" class="radio-btn hide" />
                                    <label for="starr @i">☆</label>
                                }
                                else
                                {
                                    <input id="starr @i" name="rating" type="radio" value="@i" class="radio-btn hide" />
                                    <label for="starr @i">☆</label>
                                }

                            }
                            <div class="clear"></div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Oceń</button>
                        </div>
                    </form>
                </div>
            }


            <div>
                <h5>Opis</h5>
                <a>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </a>
            </div>
            <h5>Wyślij wiadomość</h5>
            <div class="txt-center">
                <form method="post" action="/Chat/CrateRoom">
                    <input type="hidden" name="userId" value="@ViewBag.user.Id" />
                    <input type="hidden" name="specialistId" value="@ViewBag.id" />
                    <div>
                        <button type="submit" class="btn btn-primary">Wyślij wiadmomość</button>
                    </div>
                </form>
            </div>

        }



    </div>
    <div class="col-md-4">
        @if (ViewBag.isTrainer)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 50px; vertical-align: central;" scope="col">#</th>
                        <th scope="col">Treningi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.treningi)
                    {
                        <tr>
                            <th scope="row" style="vertical-align: middle;">@item.id_treningu</th>
                            <td>
                                <div class="row">
                                    <div>
                                        @if (item.obrazy.Count > 0)
                                        {
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="@item.obrazy[item.obrazy.Count - 1].GetImageDataUrl()" />
                                        }
                                        @*<img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/meal.jpg" />*@
                                    </div>
                                    <div style="margin: auto; width: 50%; padding: 10px; ">
                                        <h5>@item.nazwa</h5>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary" href="~/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        @if (ViewBag.isDietician)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 50px; vertical-align: central;" scope="col">#</th>
                        <th scope="col">Posiłki</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.posilki)
                    {
                        <tr>
                            <th scope="row" style="vertical-align: middle;">@item.id_posilku</th>
                            <td>
                                <div class="row">
                                    <div>
                                        @if(item.obrazy.Count > 0)
                                        {
                                            <img style="height: 50px; width: 50px;" class="rounded float-left" src="@item.obrazy[item.obrazy.Count - 1].GetImageDataUrl()" />
                                        }
                                            
                                    </div>
                                    <div style="margin: auto; width: 50%; padding: 10px; ">
                                        <h5>@item.nazwa</h5>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary" href="~/Posilek/Details/@item.id_posilku" role="button">Zobacz</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

