@model IEnumerable<WebApplication.Models.Trening>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <div class="text-center">

        <h1>Treningi</h1>
        <hr />

        <nav class="navigation">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Stwórz nowy trening</button></a>
            <a asp-controller="KategoriaTreningu" asp-action="Index" style="text-decoration:none"><button class="navigation">Zobacz kategorie treningów</button></a>
            <a asp-controller="Cwiczenie" asp-action="Index" style="text-decoration:none"><button class="navigation">Zobacz dostępne ćwiczenia</button></a>

        </nav>

        <hr />
        @using (Html.BeginForm("Index", "Trening", FormMethod.Get, new { id = ViewBag.trainingId }))
        {
            <fieldset>
                @Html.TextBox("searchString")

                @Html.DropDownList("category")

                <p>
                    <button type="submit" class="btn btn-primary" value="Filtruj">Filtruj</button>
                </p>

            </fieldset>
        }
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    obraz
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kategoria)
                </th>
                <th>
                    Ocena
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                @if (ViewBag.trainersIds.Contains(item.id_uzytkownika) || item.id_uzytkownika == ViewBag.userId)
                {
            <tr>
                <td>
                    @if (item.obrazy.Count > 0)
                    {
                        <img style="height: 50px; width: 50px;" class="rounded float-left" src="@(((List<ObrazyTreningu>)item.obrazy)[item.obrazy.Count - 1].GetImageDataUrl())" />
                    }
                    else
                    {
                        <img style="height: 50px; width: 50px;" class="rounded float-left" src="~/images/training.jpg" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kategoria.nazwa)
                </td>
                <td>
                    @if ((ViewBag.ratingsCounted).ContainsKey(item.id_treningu))
                    {
                    <p>@((ViewBag.ratingsCounted)[item.id_treningu])</p>
                    }
                    else
                    {
                        <p>0</p>
                    }

                </td>
                <td>
                    @if (ViewBag.userId == item.id_uzytkownika)
                    {
                        <a asp-action="Delete" asp-route-id="@item.id_treningu">Usuń</a> <br />
                        <a asp-action="Edit" asp-route-id="@item.id_treningu">Edytuj</a> <br />
                    }
                    <a asp-action="Details" asp-route-id="@item.id_treningu">Szczegóły</a> <br />
                </td>

            </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>