@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">

    <div class="col-md-3">
        <form method="post">
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="col-md-9">
        <div style="display:block">
            <div style="width:50%; float:right;">
                @if (ViewBag.image == null)
                {
                    //default image
                }
                else
                {
                    <img style="height: 200px; width:auto;" src="@ViewBag.image" />
                }
            </div>
            <div style="width:50%; float:left;">
                <h1>@ViewBag.polecany.nazwa</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Ilość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.mealDetails)
                {
                    <tr>
                        <th scope="row">@item.skladnik.nazwa</th>
                        <td>@item.skladnik.waga</td>
                        <td>@item.porcja</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>