<div class="row">

    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-poniedzialek-list" data-toggle="list" href="#list-poniedzialek" role="tab" aria-controls="poniedzialek">Poniedzialek</a>
            <a class="list-group-item list-group-item-action" id="list-wtorek-list" data-toggle="list" href="#list-wtorek" role="tab" aria-controls="wtorek">Wtorek</a>
            <a class="list-group-item list-group-item-action" id="list-sroda-list" data-toggle="list" href="#list-sroda" role="tab" aria-controls="sroda">Środa</a>
            <a class="list-group-item list-group-item-action" id="list-czwartek-list" data-toggle="list" href="#list-czwartek" role="tab" aria-controls="czwartek">Czwartek</a>
            <a class="list-group-item list-group-item-action" id="list-piatek-list" data-toggle="list" href="#list-piatek" role="tab" aria-controls="piatek">Piatek</a>
            <a class="list-group-item list-group-item-action" id="list-sobota-list" data-toggle="list" href="#list-sobota" role="tab" aria-controls="sobota">Sobota</a>
            <a class="list-group-item list-group-item-action" id="list-niedziela-list" data-toggle="list" href="#list-niedziela" role="tab" aria-controls="niedziela">Niedziela</a>
        </div>
        <a class="btn btn-primary" href="/Planowanietreningow" role="button" style="width: 100%;align-content:center">Zarządzaj planowanymi treningami</a>
        <a class="btn btn-primary" href="/Planowanietreningow/Create" role="button" style="width: 100%;align-content:center">Stwórz nowy trening</a>
    </div>
    <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-poniedzialek" role="tabpanel" aria-labelledby="list-poniedzialek-list">
                @if (ViewBag.poniedzialki.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.poniedzialki)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                        
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-wtorek" role="tabpanel" aria-labelledby="list-wtorek-list">
                @if (ViewBag.wtorki.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.wtorki)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-sroda" role="tabpanel" aria-labelledby="list-sroda-list">
                @if (ViewBag.sroda.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.sroda)
                                {
                            <tr>
                                <th scope="row">@item.id</th>
                                @foreach (var itemm in ViewBag.listatrening)
                                {
                                    @if (item.id_treningu == itemm.id_treningu)
                                    {
                                        <td>@itemm.nazwa</td>
                                        <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                    }
                                }
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-czwartek" role="tabpanel" aria-labelledby="list-czwartek-list">
                @if (ViewBag.czwartek.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.czwartek)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-piatek" role="tabpanel" aria-labelledby="list-piatek-list">
                @if (ViewBag.piatek.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.piatek)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-sobota" role="tabpanel" aria-labelledby="list-sobota-list">
                @if (ViewBag.sobota.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.sobota)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="list-niedziela" role="tabpanel" aria-labelledby="list-niedziela-list">
                @if (ViewBag.niedziela.Count <= 0)
                {
                    <a class="btn btn-primary" href="/PlanowanieTreningow/Create" role="button">Stwórz</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.listaplantrening != null)
                            {
                                @foreach (var item in ViewBag.niedziela)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @foreach (var itemm in ViewBag.listatrening)
                                        {
                                            @if (item.id_treningu == itemm.id_treningu)
                                            {
                                                <td>@itemm.nazwa</td>
                                                <td> <a class="btn btn-primary" href="/TreningList/Lista/@item.id_treningu" role="button">Zobacz</a></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
