@model IEnumerable<WebApplication.Models.KategoriaCwiczenia>

@{
    ViewData["Title"] = "Kategorie Ćwiczeń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <div class="text-center">
        <h1>Kategorie Ćwiczeń</h1>
        <hr />
        <nav class="navigation">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Stwórz nową kategorie</button></a>
        </nav>

        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Szukaj: <input type="text" name="SearchString" value="@ViewData["currentSearchString"]" />
                    <input type="submit" value="Szukaj" class="btn btn-default" /> |
                    <a asp-action="Index">Wyczyść wyszukiwanie</a>
                </p>
            </div>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id_kategorii">@Html.DisplayFor(modelItem => item.nazwa)</a>
                    </td>
                    <td>
                        @if (item.id_kategorii != ViewBag.DefaultCategory.id_kategorii && ViewBag.isTrainer)
                        {

                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_kategorii">Usuń</a> <br />
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_kategorii">Edytuj</a> <br />
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>