@model WebApplication.Models.Skladnik

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Składnika</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.waga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.waga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kalorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kalorie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bialko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bialko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tluszcze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tluszcze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.weglowodany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.weglowodany)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kategoria.nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_skladnika">Edytuj</a> @*|
        <a asp-action="Index">Powrót do listy składników</a>*@
</div>
