@model IEnumerable<WebApplication.Models.Skladnik>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
</head>
<body>
    <div class="text-center">
        <h1>Składniki</h1>

        <nav class="navigation" style="margin-bottom: 5px">
            <a asp-action="Create" style="text-decoration:none"><button class="navigation">Dodaj nowy</button></a>
            <a asp-controller="KategoriaSkladnikow" asp-action="Index" style="text-decoration:none"><button class="navigation">Zobacz kategorie </button></a>
        </nav>

        @using (Html.BeginForm("Index", "Skladnik", FormMethod.Get))
        {
            <fieldset>
                <input id="searchString" type="text" value="" style="border-radius:5px">

                @Html.DropDownList("category")

                <p style="margin-top: 5px">
                    <button type="submit" class="btn btn-primary" value="Filtruj">Filtruj</button>
                </p>

            </fieldset>
        }
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nazwa)
                </th>
                <th>
                    <a class="dark-a" asp-action="Index" asp-route-sort="@ViewData["currentSort"]" asp-route-searchString="@ViewData["currentSearchString"]">
                        @Html.DisplayNameFor(model => model.waga)
                        @if ((int)ViewData["currentSort"] == 0)
                        {
                            <p>▲</p>
                        }
                        else if ((int)ViewData["currentSort"] == 2)
                        {
                            <p>▼</p>
                        }

                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kalorie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kategoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="dark-a" asp-action="Details" asp-route-id="@item.id_skladnika">@Html.DisplayFor(modelItem => item.nazwa)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.waga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kalorie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kategoria.nazwa)
                    </td>
                    <td>
                        @if (ViewBag.isDietician)
                        {
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id_skladnika">Edytuj</a> <br />
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id_skladnika">Usuń</a> <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>